{% extends 'base.html.twig' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="b-content__main b-content__about-inner">
        <div class="b-about">
            <div class="b-about__left">
                <div class="b-content__main-text">
                    <div class="b-content__main-title">Руформ</div>
                    <p>ООО «Руформ» – ведущий диверсифицированный медиахолдинг в России и в Восточной Европе,
                        объединяет активы во всех сегментах медиарынка: телевидении, радио, прессе, кинопроизводстве
                        и дистрибуции, интернет-платформах. </p>
                    <p>Холдинг управляет 8 эфирными телеканалами (НТВ, ТНТ, ТВ-3, «Пятница!», ТНТ4, «Матч ТВ», 2х2, «Супер»),
                        кинопроизводством и дистрибуцией («Киностудия КИТ», «Централ Партнершип», Comedy Club Production, Good Story Media),
                        производством и дистрибуцией тематических телеканалов («Ред Медиа»).</p>
                    <p>Также в портфель ООО «Руформ» входят 10 радиостанций («Авторадио», Energy, «Юмор FM», «Радио Romantika», Comedy Radio, Like FM, Relax FM, «Детское радио», «Эхо Москвы», 101.ru),
                        активы в сегменте Интернет (Ruform, ТНТ-Premier), печати (издательства «Семь дней» и «Медиа Пресс»).</p><p><em></em></p>
                </div>
            </div>
            <div class="b-about__right">
                <div class="b-content__info b-content__info_about">
                    <div class="b-content__info-item">
                        <div class="b-content__info-item-icon b-content__info-item-icon_1"></div>
                        <div class="b-content__info-item-number">7</div>
                        <div class="b-content__info-item-text">Эфирных телеканалов</div>
                    </div>
                    <div class="b-content__info-item">
                        <div class="b-content__info-item-icon b-content__info-item-icon_2"></div>
                        <div class="b-content__info-item-number">28</div>
                        <div class="b-content__info-item-text">Тематических телеканалов</div>
                    </div>
                    <div class="b-content__info-item">
                        <div class="b-content__info-item-icon b-content__info-item-icon_3"></div>
                        <div class="b-content__info-item-number">10</div>
                        <div class="b-content__info-item-text">Радиостанций</div>
                    </div>
                    <div class="b-content__info-item">
                        <div class="b-content__info-item-icon b-content__info-item-icon_4"></div>
                        <div class="b-content__info-item-number">3</div>
                        <div class="b-content__info-item-text">Интернет-компании</div>
                    </div>
                    <div class="b-content__info-item">
                        <div class="b-content__info-item-icon b-content__info-item-icon_5"></div>
                        <div class="b-content__info-item-number">1</div>
                        <div class="b-content__info-item-text">Оператор спутникового ТВ</div>
                    </div>
                    <div class="b-content__info-item">
                        <div class="b-content__info-item-icon b-content__info-item-icon_6"></div>
                        <div class="b-content__info-item-number">4</div>
                        <div class="b-content__info-item-text">Журнала</div>
                    </div>
                    <div class="b-content__info-item">
                        <div class="b-content__info-item-icon b-content__info-item-icon_7"></div>
                        <div class="b-content__info-item-number">33</div>
                        <div class="b-content__info-item-text">Онлайн-ресурса</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-adout__items">
        <a href="/about" class="b-about__items-item">
            <img src="/images/b-about__items-item-01.png">
            <span class="b-about__items-item-title">Руководство</span>
            <span class="b-about__items-item-desc">Органы управления ООО «Руформ» —
        Совет директоров и Правление.</span>
        </a>
        <a href="/about" class="b-about__items-item">
            <img src="/images/b-about__items-item-02.png">
            <span class="b-about__items-item-title">История</span>
            <span class="b-about__items-item-desc">25-летняя история развития ведущих
        медиа-брендов России.</span>
        </a>
        <a href="/about" class="b-about__items-item">
            <img src="/images/b-about__items-item-03.png">
            <span class="b-about__items-item-title">Стратегия развития</span>
            <span class="b-about__items-item-desc">Дальнейший рост доли на российском
        рынке и развитие бизнес-модели.</span>
        </a>
    </div>

    <div id="awards" class="b-content__manager b-content__about-inner">
        <h2 class="b-content__manager-list_title">
            Наши награды
        </h2>
        <div class="b-about__banner" id="reward_group_146">
            <img src="/images/main-146.jpg" width="100%">
            <div class="b-about__banner-switch"></div>

            <div class="b-about__banner-text">
                <div class="b-about__banner-text-delimiter"></div>
                <div class="b-about__banner-text-content">Adindex awards</div>
            </div>

        </div>
        <div class="b-about__show-items">
            <div class="b-about__show-item">
                <div class="b-about__show-name b-about__show-name_unlink">GPM digital</div>

                <div class="b-about__show-desc"><p>«За развитие механизмов верификации видеорекламы»</p></div>
            </div>
        </div>
        <div class="b-about__banner" id="reward_group_147">
            <img src="/images/main-147.jpg" width="100%">
            <div class="b-about__banner-switch"></div>

            <div class="b-about__banner-text">
                <div class="b-about__banner-text-delimiter"></div>
                <div class="b-about__banner-text-content">PromaxBDA UK</div>
            </div>

        </div>
        <div class="b-about__show-items">
            <div class="b-about__show-item">
                <div class="b-about__show-name b-about__show-name_unlink">ТНТ4</div>

                <div class="b-about__show-desc"><p><strong>Золото. «Лучшее промо фильма»</strong></p><p>«Одинаково мощное кино» </p><p><strong>Бронза</strong><strong>. «Лучшее</strong><strong> промо</strong><strong> сезона</strong><strong>»</strong></p><p>«Одинаково мощное кино»</p><p><strong>Серебро. «Лучший монтаж»</strong></p><p>«Одинаково мощное кино»</p><p><strong>Золото. </strong><strong>«Лучший</strong><strong> дизайн</strong><strong> звука</strong><strong>»</strong></p><p>«Запрещённый приём» </p></div>
            </div>
        </div>
        <div class="b-about__banner" id="reward_group_145">
            <img src="/images/main-145.jpg" width="100%">
            <div class="b-about__banner-switch"></div>

            <div class="b-about__banner-text">
                <div class="b-about__banner-text-delimiter"></div>
                <div class="b-about__banner-text-content">ТЭФИ 2018</div>
            </div>
        </div>
        <div class="b-about__show-items">
            <div class="b-about__show-item">
                <div class="b-about__show-name b-about__show-name_unlink">Пятница!</div>

                <div class="b-about__show-desc"><ul><li>Николай Картозия в номинации "Телевизионный продюсер сезона"</li><li>"Орёл и решка" в номинации "Образ жизни"</li><li>"Мир наизнанку" в номинации "Просветительская программа" </li><li>"Ревизорро" в номинации "Журналистское расследование"</li></ul><p><br /></p></div>
            </div>
            <div class="b-about__show-item">
                <div class="b-about__show-name b-about__show-name_unlink">ТНТ</div>

                <div class="b-about__show-desc"><ul><li>Марина Кравец в номинации "Ведущий утренней программы"</li><li>Сериал "Улица" в номинации "Дневной телевизионный сериал"</li><li>Проект "Танцы" в номинации "Развлекательная программа"</li></ul></div>
            </div>
            <div class="b-about__show-item">
                <div class="b-about__show-name b-about__show-name_unlink">НТВ</div>

                <div class="b-about__show-desc"><ul><li>Телепередача "Жди меня" в номинации "Дневное ток-шоу"</li><li>Специальный приз -Татьяна Миткова</li></ul></div>
            </div>
            <div class="b-about__show-item">
                <div class="b-about__show-name b-about__show-name_unlink">ТВ-3</div>

                <div class="b-about__show-desc"><p>Фильм "Гоголь.Начало" в номинации "Событие телевизионного сезона"</p></div>
            </div>
        </div>
    </div>
{% endblock %}