
<form method="post" id="chat_form" action="/chat">
    <p>Для получения консультации укажите необходимую информацию</p>
    <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Тема обращения" required autofocus>
    <input type="text" name="lastname" id="inputLastname" class="form-control" placeholder="Фамилия" required>
    <input type="text" name="firstname" id="inputFirstname" class="form-control" placeholder="Имя" required>
    <input type="text" name="middlename" id="inputMiddlename" class="form-control" placeholder="Отчество">
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Электронная почта" required>
    <input type="text" name="phone" id="inputPhone" class="form-control" placeholder="+7 (999) 999-99-99" required>
    <button class="btn btn-lg btn-primary chat_submit" type="submit">
        Начать диалог
    </button>
</form>
