{% extends 'user/index.html.twig' %}

{% block title %}Редактирование пользователя{% endblock %}

{% block admin_content %}
    <h3>Редактирование пользователя №{{ user.id }}</h3>
    {{ include('user/_form.html.twig', {'button_label': 'Сохранить'}) }}
    <a href="{{ path('user_index') }}" class="btn btn-outline-primary">Назад к списку</a>
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
