{% extends 'user/index.html.twig' %}

{% block title %}Новый пользователь{% endblock %}

{% block admin_content %}
    <h1>Добавление нового пользователя</h1>
    {{ include('user/_form.html.twig') }}
    <a href="{{ path('user_index') }}" class="btn btn-outline-primary">Назад к списку</a>
{% endblock %}
